.red {
            
    color: red;
}

.form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
}
.section-light{
    background-color: #6c757d!important;
    color: #fff!important;
    padding: 5px;
}
.section-dark{
    background-color: #f8f9fa!important;
    color: #343a40!important;
    padding: 5px;
}