

  <!-- Profile Card - START -->
  <div class="container wrap">

      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
              <div class="well well-sm">
                  <div class="row">
                      <div class="col-sm-4 col-md-6 col-lg-6">
                          <img src="../../assets/images/Anurag.jpg" alt="" class="img-rounded img-responsive" />
                      </div>
                      <div class="col-sm-8 col-md-6 col-lg-6">
                          <h4>Anurag Vishnoi</h4>
                          <small><cite title="San Diego, USA">Pune, India <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                          <p>
                              <i class="glyphicon glyphicon-envelope"></i>anurag.vishnoi@cognizant.com
                              <br />
                              <i class="glyphicon glyphicon-globe"></i><a href="https://www.cognizant.com">www.cognizant.com</a>
                              <br />
                              <i class="glyphicon glyphicon-gift"></i>July 15, 1985
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Profile Card - END -->

